/**
 * @file
 * Default styles for scribble toolbar.
 */
.scribble-canvas {
  border: 1px solid #000;
}

.scribble-toolbar {
  margin-bottom: 20px;
}

.scribble-color-display {
  height: 20px;
  width: 20px;
  border: 1px solid #000000;
  background-color: #000000;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.ui-dialog .scribble-color-picker.ui-dialog-content {
  padding: 0.5em 0;
}

.scribble-brushes {
  display: inline-block;
  float: right;
}

.scribble-brushes * {
  float: left;
}

.scribble-brush-size {
  width: 33%;
  display: inline-block;
  margin-top: 9px;
  vertical-align: middle;
  float: left;
}

.scribble-separator {
  height: auto;
  border: 1px inset;
}

.scribble-brush-size-display {
  float: left;
  height: 20px;
  width: 32px;
  display: inline-block;
  background-color: #fff;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: 2px;
  border: 1px solid #d2d2d2;
  padding: 3px 5px;
  text-align: center;
}

.scribble-brush-settings {
  padding: 0 7px 7px 7px;
}

.scribble-actions {
  padding: 7px 7px 0 7px;
  float: left;
}

.form-item-image-fetch-txt {
  display: inline-block;
}

.scribble-image-injection-dialog {
  width: auto !important;
  padding: 0 !important;
  border: 1px dashed;

  .ui-dialog-titlebar {
    display: none;
  }

  .scribble-add-img-modal.ui-dialog-content.ui-widget-content {
    padding: 0;
    display: none;
    line-height: 0;
    min-height: initial !important;
    overflow: hidden;
  }
}

.scribble-brush-button {
  width: 33px;
  height: 33px;
  float: left;
  margin-right: 10px;
  @include border-radius(5px);
  @extend %brush-button;
}

.scribble-brush-button img {
  @include border-radius(5px);
  width: 33px;
  height: 33px;
}

.scribble-color-options-wrapper {
  width: 130px;
  float: left;
}

.scribble-brush-buttons-wrapper {
  float: left;
  margin-left: 10px;
}

.field-name-scribble-image-uploads {
  .field-item {
    display: inline-block;
    float: left;
    margin: 10px;
  }
}